<div data-ng-controller= ControllerInterfaceAdmin>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <table class="table">
        <tr>
          <th><b>NOMBRE PROFESOR</b></th>
          <th><b>ASIGNATURA</b></th>
        </tr>
        <tr data-ng-repeat="x in oferta">
          <td>{{x.nombre}}</td>
          <td>{{x.asignatura}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-lg-offset-3">
      <div class="text-center"><h4>Nombre profesor:</h4></div>
      <br>
      <input type="text" class="form-control" data-ng-model="nombreProfesor">
    </div>
    <div class="col-lg-3">
      <div class="text-center"><h4>Asignatura a dictar:</h4></div>
      <br>
      <input type="text" class="form-control" data-ng-model="asignatura">
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <div class="alert alert-info" role="alert" >Por favor ingrese todos los datos para poder efectuar el cambio</div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-lg-3 col-lg-offset-5">
        <button type="button" class="btn btn-primary" data-ng-click="agregarProfesor()">Añadir</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>
