<div class="row" ng-controller="controllerInterfaceProf">
  <div class="col-lg-3 col-lg-offset-3">
    <br>
    <br>
    <h3><p class="text-center">SUBIR ARCHIVOS</p></h3>
    <br>
    <div class="form-group">
        <label for="ejemplo_archivo_1">Adjuntar un archivo</label>
        <!-- <input type="file" uploadFiles multiple>
        <ul>
            <li ng-repeat="file in files">{{file.name}}</li>
        </ul> -->
        <input type="file" file-model = "myFile" >
        <br>
        <!-- <button type="button" class="btn btn-primary btn-lg btn-block" data-ng-click="save()">Subir</button> -->
        <button type="button" class="btn btn-primary btn-lg btn-block" data-ng-click="uploadFile()">Subir</button>
    </div>
  </div>
</div>
