<!-- Explication -->
<div data-ng-controller="Ctrl">
			<div class="row">
				<div class="col-lg-3 col-lg-offset-1">
					<p class="text-center lead">
					<br><br>
						<span class="glyphicon glyphicon-user Iconos"></span><br><br>
						<h4 class="text-center">ESTUDIANTE</h4>
						Aquí podrán tener acceso al material de clase subido por los profesores. También, al terminar la clase, podrán montar sus avances en caso tal de que el profesor lo crea necesario.
					</p>
				</div>
				<div class="col-lg-3">
					<p class="text-center lead">
					<br><br>
						<span class="glyphicon glyphicon-folder-open Iconos"></span><br><br>
						<h4 class="text-center">PROFESOR</h4>
						Podrán subir archivos que vayan a ser usados en las clases en sala de computo. También podrán tener acceso a los archivos que sean subidos por los estudiantes.
					</p>
				</div>
				<div class="col-lg-3">
					<p class="text-center lead">
					<br><br>
						<span class="glyphicon glyphicon-cog Iconos"></span><br><br>
						<h4 class="text-center">ADMINISTRADOR</h4>
						Pestaña de uso exclusivo del administrador de la página.
					</p>
				</div>
			</div>

			<br>
		    <br>
		    <br>

		    <!-- Parallax -->
		    <div class="row">
		    	<div class="col-lg-13">
		    		<img  src="Image/Fondo2.jpg" alt="Fondo2" WIDTH=1500 HEIGHT=350>
		    	</div>
		    </div>

		    <!-- Final -->
		    <div class="row FondoVerde letrablanca center">
			    <footer class="page-footer teal">
				    <p class="white-text text-center">
				    	<a  href="http://www.ensdemaria.edu.co/" > <span class="letrablanca center">Click aquí acceder a la página web de la Institución</span></a><br>
		                Institución Educativa Escuela Normal Superior de María | Dirección:  Carrera 52 No 41 48 Barrio: Santa Ana | Teléfono: 561 29 00 <br>
		                Rionegro - Antioquia © Copyright Proyecto Pages <br>
				    </p>
			    </footer>
		    </div>
</div>
